.container{
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar{
    background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-logo img {
  width: 40px;
}

.logo-text {
  font-size: 30px;
  font-weight: 600;
  color: white;
}
.icons{
    display: inline;
    justify-content: flex-end;
    padding: 10px;
}

.logo{
    display: inline;
    justify-content: start;
    padding: 10px;
    margin-left: 30px;
}

.intro{
    display: flex;
}

.intro-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px 60px;
}

.intro-text h2{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

.intro-text h3{
    font-size: 30px;
    font-weight: bolder;
}

.intro-text p{
    font-size: 20px;
    color: #666;
    line-height: 1.6;
}

form input{
    width: 700px;
    height: 40px;
    padding-left: 20px;
    margin-bottom: 10px;
}

form button{
    display: block;
    margin-left: 630px;
    padding: 10px;
    width: 100px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.about {
  padding: 80px 100px;
}

.about h2 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 30px;
}

.about-text {
  display: flex;
  gap: 60px;
}

.about-text p {
  width: 50%;
  color: #666;
  font-size: 20px;
  line-height: 1.6;
}

.products {
  width: 100%;
}

.product-row {
  display: flex;
  align-items: stretch;
  margin-bottom: 10px;
}

.product-info {
  width: 40%;
  background: #2b2b2b;
  color: white;
  padding: 40px;
}

.product-info h3 {
  font-size: 30px;
  margin-bottom: 10px;
  margin: 30px
}

.product-info h5 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
  margin: 30px
}

.product-info p {
  font-size: 20px;
  line-height: 1.6;
  margin: 30px;
}

.product-image {
  width: 60%;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  padding: 60px 80px;
  border-top: 1px solid #e5e5e5;
  max-width: 1200px;
  margin: 0 auto;
}


.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
}

.footer-left {
  width: 45%;
}

.footer-left h3 {
  font-size: 42px;
  margin-bottom: 10px;
}

.footer-left p {
  font-size: 20px;
  color: #666;
  line-height: 1.6;
}

.footer-right {
  width: 45%;
}

.footer-right h4 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: lighter;
}

.footer-right form input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.footer-right button {
  padding: 12px 24px;
  background: #111;
  color: white;
  border: none;
  cursor: pointer;
  float: right;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  width: 70px;
}

.footer-social img {
  width: 50px;
  margin-left: 15px;
  cursor: pointer;
}

.footer-logo-box {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #111;
  font-weight: bold;
  font-size: 30px;
}


