.card-container{
  width: 400px;
  background-color: #2F272A;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}
 
h2{
    display: flex;
    margin-left: 10px;
    font-weight: bolder;
    box-sizing: border-box;
}

.divider {
  height: 1px;
  border-top: 2px solid #444;
  margin-left: 20px;
  margin-right: 20px;
}

.colors{
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}

.colors span {
  margin-top: 5px;
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 10px;
}

.blue{
    background-color: skyblue;
}

.green{
    background-color: lightgreen;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    margin-left: 10px;
    color: grey;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 10px;
}
.Free{
    background-color: grey;
    padding: 5px 5px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Offer{
    background-color: white;
    color: black;
    padding: 5px 5px;
    font-weight: bold;
    font-size: 13px;
}

.price{
    display: flex;
    margin-left: 10px;
}
.badges{
    box-sizing: border-box;
    margin-left: 10px;
}
.card{
    box-sizing: border-box;
}
.card-img{
    width: 100%;
    height: 400px;
    box-sizing: border-box;
}

.badges{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.price{
    font-weight: bold;
}


.new{
    display: flex;
    margin-left: 10px;
    font-weight: bold;
    font-size: 10px;
    color: gray;
}

.card-button {
  background-color: #ff0055;
  width: calc(100% - 20px);
  height: 50px;
  margin: 10px 10px;
  display: block;
  border: 1px solid white;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
